body{
    font-family: Roboto, Helvetica, sans-serif;
    background-color:rgba(93, 99, 177, 0.5);
}

#main-box{
    border: 1px solid rgb(89, 110, 206);
    border-radius: 15px;
    width: 500px;
    margin: auto;
}





/*Título da tela de cadastro*/
h1{
    text-align: left;
    margin: 8px;
    font-size: 1.5em;
}

p{
    margin-left: 8px;
    font-size: small;

}



/*Pessoa física/jurídica*/
.tipoPessoa{
    width: 100%;
    padding: 1%;
    margin: 1em;
}

table{
    margin-left: 7px;
    width: 90%;
}



/*Botão de slavar*/
#salvar{
    margin: 1em auto;
    width: 30%;
}

button{
    padding: 6px;
    width: 100%;
}